name: Update Crate

on:
  schedule:
    - cron: '0 0 1 */3 *'
  workflow_dispatch:

jobs:
  update-crate:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

    - name: Run generate script
      run: |
        chmod +x ./generate.sh
        ./generate.sh

    - name: Check for changes
      id: git-check
      run: |
        git diff --exit-code --stat || echo "changes=true" >> $GITHUB_OUTPUT

    - name: Bump Cargo.toml minor version
      if: steps.git-check.outputs.changes == 'true'
      run: |
        # Read current version
        current_version=$(grep -m1 'version =' Cargo.toml | sed 's/.*= "//' | sed 's/"//')
        
        # Split version into major, minor, patch
        IFS='.' read -r major minor patch <<< "$current_version"
        
        # Increment minor version
        new_minor=$((minor + 1))
        new_version="$major.$new_minor.0"
        
        # Update Cargo.toml
        sed -i "s/^version = \".*\"/version = \"$new_version\"/" Cargo.toml
        
        echo "Version bumped from $current_version to $new_version"

    - name: Create Pull Request
      if: steps.git-check.outputs.changes == 'true'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # Get submodule commit ID
        submodule_commit=$(git submodule status miracl-core | awk '{print $1}' | sed 's/^+//')
        short_commit_id=${submodule_commit:0:7}

        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
        git add .
        git commit -m "Update crate and bump version (miracl-core: $short_commit_id)"
        git push --force origin HEAD:update-crate
        pr_body=$(printf "This PR updates the crate and bumps the minor version.\n\n**Submodule Update:**\n- miracl-core commit: \`%s\`" "$submodule_commit")
        gh pr create --title "Update crate (miracl-core: $short_commit_id)" --body "$pr_body" --base master --head update-crate
